{% extends 'base.html.twig' %}

{% block title %}Liste des projets{% endblock %}

{% block main %}
        <header>
               <div id="current-user"></div>
               <div id="title-page">
                  <h1>Gestion des droits d'accès</h1>
               </div>
            </header>
            <div id="content">
                {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.deadline) }}
                    {{ form_row(form.idStatus) }}
                    {{ form_row(form.idUser) }}

                    <br>
                    <button class="button button-submit">Modifier</button>
                    <a href="#" class="delete-task">Supprimer la tâche</a>
                {{ form_end(form) }}             
            </div>

{% endblock %}
