{% extends 'base.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block main %}
            <header>
               <div id="current-user"></div>
               <div id="title-page">
                    <div class="flex-header">
                        <h1>{{ project.name }}</h1>
                        <div class="user-list">
                           {% for user in project.users %}
                              <div class="avatar">{{ user.initials }}</div>
                           {% endfor %}
                        </div>
                        <a class="button" href="{{ path('app_projet_edit', {'id': project.id}) }}">Modifier</a>
                    </div>
               </div>
            </header>
            <div id="content">
               <div id="tasks-container">
                  {% for status in statuses %}
                     <div class="task-column">
                        <h2>{{ status.name }}</h2>
                        <div class="tasks-list">
                           {% for tache in taches %}
                              {% if tache.idStatus.id == status.id %}
                              <a class="task" href="{{ path('app_tache_detail', {'id': tache.id}) }}">
                                 <h3>{{ tache.name }}</h3>
                                 <p>{{ tache.description }}</p>
                                 <div class="task-infos">
                                    <div class="task-deadline">
                                       <i class="fa-regular fa-calendar"></i> {{ tache.deadline|date('d/m/Y') }}
                                    </div>
                                 </div>
                              </a>
                              {% endif %}
                           {% endfor %}
                           <a href="{{ path('app_tache_add', {'id': project.id}) }}" class="task-add">+ Ajouter une tâche</a>
                        </div>
                     </div>
                  {% endfor %}
               </div>
            </div>
{% endblock %}